<div class="d-flex justify-content-start">
  <div class="card card-effect mr-3" routerLink="/product/list">
    <div>
      <img src="../../../assets/images/bg-home.jpg" alt="home" class="rounded img-fluid">
      <h5 class="d-inline-block ml-3">Terrains</h5>
    </div>
  </div>
  <div class="card card-effect mr-3" routerLink="/product/list">
    <div>
      <img src="../../../assets/images/bg-home.jpg" alt="home" class="rounded img-fluid">
      <h5 class="d-inline-block ml-3">Jardins</h5>
    </div>
  </div>
  <div class="card card-effect" routerLink="/product/list">
    <div>
      <img src="../../../assets/images/bg-home.jpg" alt="home" class="rounded img-fluid">
      <h5 class="d-inline-block ml-3">Lacs/etang</h5>
    </div>
  </div>
</div>
