<div class="d-flex justify-content-start">
  <div class="card mr-3">
    <div>
      <img src="../../../assets/images/bg-home.jpg" alt="home" class="rounded float-left img-fluid">
      <h5>Terrains</h5>
    </div>
  </div>
  <div class="card mr-3">
    <div>
      <img src="../../../assets/images/bg-home.jpg" alt="home" class="rounded float-left img-fluid">
      <h5 class="">Jardins</h5>
    </div>
  </div>
  <div class="card">
    <div>
      <img src="../../../assets/images/bg-home.jpg" alt="home" class="rounded float-left img-fluid">
      <h5>Lacs/etang</h5>
    </div>
  </div>
</div>
