<div class="d-flex justify-content-start">
  <div class="card card-effect mr-3" style="border-radius: 12px!important" routerLink="/product/list">
    <div>
      <img src="../../../assets/images/bg-home.jpg" alt="home" class="rounded img-fluid" style="height: 100px; border-radius: 12px 0px 0px 12px!important">
      <h5 class="d-inline-block ml-3">Terrains</h5>
    </div>
  </div>
  <div class="card card-effect mr-3" style="border-radius: 12px!important" routerLink="/product/list">
    <div>
      <img src="../../../assets/images/bg-home.jpg" alt="home" class="rounded img-fluid" style="height: 100px; border-radius: 12px 0px 0px 12px!important">
      <h5 class="d-inline-block ml-3">Jardins</h5>
    </div>
  </div>
  <div class="card card-effect" style="border-radius: 12px!important" routerLink="/product/list">
    <div>
      <img src="../../../assets/images/bg-home.jpg" alt="home" class="rounded img-fluid" style="height: 100px; border-radius: 12px 0px 0px 12px!important">
      <h5 class="d-inline-block ml-3">Lacs/etang</h5>
    </div>
  </div>
</div>
