<nav *ngIf="!isMobile" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand logo" routerLink="/home">
    <img class="brand-icon" src="/assets/images/logo.png" alt="brand">
    {{'app-name' | translate}}
  </a>

  <!--temporaire-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <button class="nav-link btn btn-green" routerLink="/product/add"><i class="far fa-plus-square mr-2"></i>{{'header.add-plot' | translate}}</button>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/product/list"><i class="fas fa-search mr-2"></i>{{'header.find-plot' | translate}}</a>
      </li>
    </ul>
    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" *ngIf="!authService.isLoggedIn" (click)="showModal(login)">
          {{'header.login' | translate}}<i class="fas fa-sign-in-alt ml-2"></i>
        </a>
      </li>
      <li class="nav-item dropdown" *ngIf="authService.isLoggedIn && authService.userData as user">
        <a class="nav-link" type="button" id="dropdownHeader" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" (click)="listOfLikes()">
          <img class="user-icon" src="{{user.photoURL}}" onerror="this.src='../../assets/images/default-user.png';" alt="{{user.displayName}}">
          {{user.displayName}}
        </a>
        <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="dropdownHeader">
          <a class="dropdown-item" routerLink="/profile">Profile</a>
          <a class="dropdown-item" routerLink="/favorites/{{user.uid}}" *ngIf="enableFavorite">Favorites</a>
          <a class="dropdown-item disabled"  disabled *ngIf="!enableFavorite">Favorites</a>
          <a class="dropdown-item" (click)="authService.SignOut()"> Deconnexion</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- Mobile version -->
<nav *ngIf="isMobile" class="navbar navbar-expand-lg  navbar-light bg-light sticky-top">
  <span (click)="openMenu()">&#9776;</span>
  <a class="navbar-brand mr-auto ml-auto" routerLink="/home">
    {{'app-name' | translate}}
  </a>
</nav>

<div id="sideMenu" class="sidenav">
  <div class="text-center mb-4">
    <img class="brand-icon" src="/assets/images/logo.png" alt="brand">
    {{'app-name' | translate}}
  </div>
  <div href="javascript:void(0)" class="closebtn" (click)="closeMenu()">&times;</div>

  <a *ngIf="authService.isLoggedIn && authService.userData as user" (click)="closeMenu()" routerLink="/profile">
    <img src="{{user.photoURL}}" onerror="this.src='../../assets/images/default-user.png';">
    {{user.displayName}}
  </a>
  <a (click)="closeMenu()">
  <button class="btn btn-green" routerLink="/product/add"><i class="far fa-plus-square mr-3"></i>{{'header.add-plot' | translate}}</button>
  </a>
    <a (click)="closeMenu()" routerLink="/product/list"><i class="fas fa-search mr-3"></i>{{'header.find-plot' | translate}}</a>
  <hr/>
  <a *ngIf="!authService.isLoggedIn" (click)="showModal(login)">
    <i class="fas fa-sign-in-alt mr-2"></i>
    {{'header.login' | translate}}
  </a>
  <a (click)="closeMenu()" routerLink="/home"><i class="fas fa-home mr-3"></i>Accueil</a>

  <a (click)="closeMenu()" *ngIf="enableFavorite && authService.isLoggedIn && authService.userData as user"  routerLink="/favorites/{{user.uid}}">
    <i class="fas fa-heart mr-3"></i>Favoris
  </a>
  <a (click)="closeMenu()" class="nav-link" routerLink="/help"><i class="far fa-question-circle mr-3"></i>Qui somme nous ?</a>
  <a class="nav-link txt-g" routerLink="/home" *ngIf="authService.isLoggedIn" (click)="authService.SignOut() && closeMenu()">
    <i class="fas fa-sign-out-alt txt-g mr-3"></i>Deconnexion
  </a>
</div>

<ng-template #login let-c="close" let-d="dismiss">
  <app-login></app-login>
</ng-template>
