<div *ngIf="rate < 0.99">
  <i class="text-warning fas fa-star-half"></i>
</div>
<div *ngIf="rate >= 1 && rate < 1.49">
  <i class="text-warning fa fa-star"></i>
</div>
<div *ngIf="rate >= 1.50 && rate < 1.99">
  <i class="text-warning fa fa-star"></i>
  <i class="text-warning fas fa-star-half"></i>
</div>
<div *ngIf="rate >= 2 && rate < 2.49">
  <i class="text-warning fa fa-star"></i>
  <i class="text-warning fa fa-star"></i>
</div>
<div *ngIf="rate >= 2.50 && rate < 2.99">
  <i class="text-warning fa fa-star"></i>
  <i class="text-warning fa fa-star"></i>
  <i class="text-warning fas fa-star-half"></i>
</div>
<div *ngIf="rate >= 3 && rate < 3.49">
  <i class="text-warning fa fa-star"></i>
  <i class="text-warning fa fa-star"></i>
  <i class="text-warning fa fa-star"></i>
</div>
<div *ngIf="rate >= 3.50 && rate < 3.99">
  <i class="text-warning fa fa-star"></i>
  <i class="text-warning fa fa-star"></i>
  <i class="text-warning fa fa-star"></i>
  <i class="text-warning fas fa-star-half"></i>
</div>
<div *ngIf="rate == 4">
  <i class="text-warning fa fa-star"></i>
  <i class="text-warning fa fa-star"></i>
  <i class="text-warning fa fa-star"></i>
  <i class="text-warning fa fa-star"></i>
</div>
<div *ngIf="rate >= 4.50 && rate < 4.99">
  <i class="text-warning fa fa-star"></i>
  <i class="text-warning fa fa-star"></i>
  <i class="text-warning fa fa-star"></i>
  <i class="text-warning fa fa-star"></i>
  <i class="text-warning fas fa-star-half"></i>
</div>
<div *ngIf="rate == 5">
  <i class="text-warning fa fa-star"></i>
  <i class="text-warning fa fa-star"></i>
  <i class="text-warning fa fa-star"></i>
  <i class="text-warning fa fa-star"></i>
  <i class="text-warning fa fa-star"></i>
</div>
