.card {
  border-radius: 10px;
}
.container {
  padding-top: 3%;
/*  float: right;
  margin-right: 10%;*/
}
.text-muted{
  bottom: 0;
  position: absolute;
  margin-bottom: 10px;
}
.like {
  bottom: 0;
  position: absolute;
  margin-bottom: 10px;
  border-radius: 20px;
}

.fa-heart {
  color: #E00033;
}

.banner-list {
  background-image: url('../../../assets/images/banner2.png');
  height: 275px;
  background-position: center center;
  background-size: cover;
}
