<!-- Header Banner List -->
<header class="masthead">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="text-center mt-5">
        <h1>Simply place an ad to rent your property</h1>
        <p class="lead">Simplify your life by making it mesh</p>
        <br>
        <button class="btn btn-green" type="button" routerLink="/product/add"><b>Deposit an announcement</b></button>
        <div class="row">
          <div class="icon-banner">
            <img src="/assets/images/forest.png" width="70" alt="forest">
            <p>Forest</p>
          </div>
          <div class="icon-banner">
            <img src="/assets/images/lake.png" width="70" alt="lake">
            <p>Lake</p>
          </div>
          <div class="icon-banner">
            <img src="/assets/images/permaculture.png" width="70" alt="permaculture">
            <p>Permaculture</p>
          </div>
          <div class="icon-banner">
            <img src="/assets/images/garden.png" width="70" alt="garden">
            <p>Garden</p>
          </div>
          <div class="icon-banner">
            <img src="/assets/images/beach.png" width="70" alt="beach">
            <p>Beach</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="d-flex justify-content-between container pt-5">

  <!-- Filter bar left -->
  <div class="mr-5">
    <h5>Remove filter<i class="fas fa-times ml-4"></i></h5>

    <form class="form-inline md-form my-3">
      <i class="fas fa-search" aria-hidden="true"></i>
      <input class="form-control form-control-sm mr-3 w-75 search" type="text" placeholder="Search" aria-label="Search">
    </form>

    <form>
      <!-- Category -->
      <h3>Category</h3>
      <div class="box">
        <div class="checkbox">
          <input id="choice_category_button_1" class="styled" type="checkbox" name="choice">
          <label for="choice_category_button_1">Forest</label>
        </div>
        <div class="checkbox">
          <input id="choice_category_button_2" class="styled" type="checkbox" name="choice">
          <label for="choice_category_button_2">Vegetable garden</label>
        </div>
        <div class="checkbox">
          <input id="choice_category_button_3" class="styled" type="checkbox" name="choice">
          <label for="choice_category_button_3">Gardens</label>
        </div>
        <div class="checkbox">
          <input id="choice_category_button_4" class="styled" type="checkbox" name="choice">
          <label for="choice_category_button_4">Lake / Ponds</label>
        </div>
        <div class="checkbox">
          <input id="choice_category_button_5" class="styled" type="checkbox" name="choice">
          <label for="choice_category_button_5">Swimming pool</label>
        </div>
        <div class="checkbox">
          <input id="choice_category_button_6" class="styled" type="checkbox" name="choice">
          <label for="choice_category_button_6">Permaculture</label>
        </div>
        <div class="checkbox">
          <input id="choice_category_button_7" class="styled" type="checkbox" name="choice">
          <label for="choice_category_button_7">Beach</label>
        </div>
      </div>
      <hr>

      <!-- Specification -->
      <h3>Specification</h3>
      <div class="box">
        <div class="checkbox">
          <input id="choice_specification_button_1" class="styled" type="checkbox" name="choice">
          <label for="choice_specification_button_1">Pets allowed</label>
        </div>
        <div class="checkbox">
          <input id="choice_specification_button_2" class="styled" type="checkbox" name="choice">
          <label for="choice_specification_button_2">Barbecue</label>
        </div>
        <div class="checkbox">
          <input id="choice_specification_button_3" class="styled" type="checkbox" name="choice">
          <label for="choice_specification_button_3">Sanitary</label>
        </div>
        <div class="checkbox">
          <input id="choice_specification_button_4" class="styled" type="checkbox" name="choice">
          <label for="choice_specification_button_4">Table & chairs</label>
        </div>
        <div class="checkbox">
          <input id="choice_specification_button_5" class="styled" type="checkbox" name="choice">
          <label for="choice_specification_button_5">Terrace</label>
        </div>
        <div class="checkbox">
          <input id="choice_specification_button_6" class="styled" type="checkbox" name="choice">
          <label for="choice_specification_button_6">Beach umbrella</label>
        </div>
        <div class="checkbox">
          <input id="choice_specification_button_7" class="styled" type="checkbox" name="choice">
          <label for="choice_specification_button_7">Outdoor games</label>
        </div>
        <div class="checkbox">
          <input id="choice_specification_button_8" class="styled" type="checkbox" name="choice">
          <label for="choice_specification_button_8">Petanque</label>
        </div>
        <div class="checkbox">
          <input id="choice_specification_button_9" class="styled" type="checkbox" name="choice">
          <label for="choice_specification_button_9">Sports area</label>
        </div>
        <div class="checkbox">
          <input id="choice_specification_button_10" class="styled" type="checkbox" name="choice">
          <label for="choice_specification_button_10">Accessible water point</label>
        </div>
      </div>
      <hr>

      <!-- Price -->
      <h3>Price</h3>
      <div class="input-group mb-3">
        <input type="min-price" class="form-control no-border-right" placeholder="Minimum price">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-euro-sign"></i></span>
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="max-price" class="form-control no-border-right" placeholder="Maximum price">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-euro-sign"></i></span>
        </div>
      </div>
    </form>
  </div>

  <!-- List -->
  <div>
    <div class="card mb-3" *ngFor="let product of products.slice().reverse()">
      <div class="row no-gutters" routerLink="/product/detail/{{product.id}}">
        <div class="col-md-4">
          <img src="https://ak7.picdn.net/shutterstock/videos/1014027977/thumb/1.jpg" class="card-img" alt="image">
        </div>
          <div class="card-body d-flex justify-content-between">
            <div>
              <h5 class="card-title">{{product.name}}</h5>
              <h6 class="card-title">{{product.dpts}}, {{product.city}}</h6>
              <p class="card-text">{{product.description}}</p>
              <p class="card-text"><b>23 km away</b></p>
              <p class="card-text"><small class="text-muted">Today, 19:38</small></p>
            </div>
            <div>
              <h6>{{product.price * 30}}€ / month</h6>
              <h6>{{product.price}}€ / day</h6>
              <div>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
              </div>
              <div class="mt-5">
                <button *ngIf="product.like == false" type="button" class="btn btn-light like"><p class="card-text"><i class="far fa-heart"></i> Save</p></button>
                <button *ngIf="product.like == true" type="button" class="btn btn-light like" style="border-color: #E00033"><p class="card-text"><i class="fas fa-heart"></i> Save</p></button>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
