.like {
  border-radius: 20px;
}
.fa-heart {
  color: #E00033;
}
.text-center {
  color: #FFFFFF;
}
.masthead {
  height: 520px;
  min-height: 500px;
  background-image: url('../../../assets/images/banner-list-dark.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.icon-banner {
  margin: 5%;
  color: #D2D0D2;
}

/*Search-bar*/
.search {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  outline: none;
}
.search:focus {
  border-bottom-color: #5cbd95;
}
