<div class="container mt-5">
  <form>
    <div class="d-flex justify-content-center mb-3">
      <h5>Etape 1 : Quel type de bien voulez-vous louer ?</h5>
    </div>
    <div [hidden]="!validations.check1" class="card">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="17"
             aria-valuemin="0" aria-valuemax="100" style="width:17%">
          <span class="sr-only">17% Complete</span>
        </div>
      </div>
      <div class="card-body">
        <div class="form-group">
          <!--          <div class="col-md-6">-->
          <h6 class="puce">Choisissez votre bien dans les différentes catégories</h6>
          <div class="col-md-6">
            <select class="custom-select" name="select_category">
              <option selected disabled value="" #type required>Choose...</option>
              <option value="foret" >Fôret</option>
              <option value="potager">Potager</option>
              <option value="jardin">Jardin</option>
              <option value="lac">Lac / Etangs</option>
              <option value="permaculture">Permaculture</option>
              <option value="plage">Plage</option>
              <option value="piscine">Piscine</option>
            </select>
          </div>
          <!--          </div>-->
        </div>
        <div class="form-group">
          <h6 class="puce">Êtes vous un particulier ou un professionnel ?</h6>
          <div class="form-check radio mt-2">
            <div class="radio">
              <input class="form-check-input mx-2" type="radio" name="pro_check" id="particulier_check" value="particulier_check">
              <label class="form-check-label ml-4" for="particulier_check">
                Particulier
              </label>
            </div>
            <div class="radio">
              <input class="form-check-input mx-2" type="radio" name="pro_check" id="profesionnel_check" value="profesionnel_check">
              <label class="form-check-label ml-4" for="profesionnel_check">
                Professionnel
              </label>
            </div>
          </div>
        </div>
        <div class="card-footer bg-transparent">
          <button type="button" class="btn btn-primary float-left" (click)="back(checked.checked2)">Retour</button>
          <button type="button" class="btn btn-primary float-right" (click)="validate(checked.checked2)">Suivant</button>
        </div>
      </div>
      <!--      <div style="height: 93%;width: 2%; background-color: #5cbd95; position: absolute; right: 0; bottom: 0; border-radius: 10px 0px 0px 10px" (click)="validate(checked.checked2)">-->
      <!--        <i class="fas fa-caret-right fa-3x	" style="margin-top: 400%; margin-left: 20%; color: white;"></i>-->
      <!--      </div>-->
    </div>

    <div [hidden]="!validations.check2" class="card">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="34"
             aria-valuemin="0" aria-valuemax="100" style="width:34%">
          <span class="sr-only">34% Complete</span>
        </div>
      </div>
      <div class="card-body">
        <div class="form-group">
            <h6 class="puce">Combien de personnes vont accéder au METTRE LA VALEUR SELCTIONNER ?</h6>
          <div class="col-md-6">
          <select class="custom-select">
              <option selected disabled value="" #type required>Choose...</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10 ou +</option>
            </select>
          </div>
        </div>
        <div class="card-footer bg-transparent">
          <button type="button" class="btn btn-primary float-left" (click)="back(checked.checked2)">Retour</button>
          <button type="button" class="btn btn-primary float-right" (click)="validate(checked.checked3)">Suivant</button>
        </div>
      </div>
    </div>

    <div [hidden]="!validations.check3" class="card">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="51"
             aria-valuemin="0" aria-valuemax="100" style="width:51%">
          <span class="sr-only">51% Complete</span>
        </div>
      </div>
      <div class="card-body">
        <div class="form-group">
          <h6 class="puce">Configuration du bien : liste des equipements annexes</h6>
          <div class="form-check">
            <div class="checkbox">
              <input class="form-check-input mx-2" type="checkbox" name="choice_step" id="choice_step_1" value="choice_step_1">
              <label class="form-check-label ml-4" for="choice_step_1">
                Pets allowed
              </label>
            </div>
            <div class="checkbox">
              <input class="form-check-input mx-2" type="checkbox" name="choice_step" id="choice_step_2" value="choice_step_2">
              <label class="form-check-label ml-4" for="choice_step_2">
                Barbecue
              </label>
            </div>
            <div class="checkbox">
              <input class="form-check-input mx-2" type="checkbox" name="choice_step" id="choice_step_3" value="choice_step_3">
              <label class="form-check-label ml-4" for="choice_step_3">
                Sanitary
              </label>
            </div>
            <div class="checkbox">
              <input class="form-check-input mx-2" type="checkbox" name="choice_step" id="choice_step_4" value="choice_step_4">
              <label class="form-check-label ml-4" for="choice_step_4">
                Table & chairs
              </label>
            </div>
            <div class="checkbox">
              <input class="form-check-input mx-2" type="checkbox" name="choice_step" id="choice_step_5" value="choice_step_5">
              <label class="form-check-label ml-4" for="choice_step_5">
                Terrace
              </label>
            </div>
            <div class="checkbox">
              <input class="form-check-input mx-2" type="checkbox" name="choice_step" id="choice_step_6" value="choice_step_6">
              <label class="form-check-label ml-4" for="choice_step_6">
                Beach umbrella
              </label>
            </div>
            <div class="checkbox">
              <input class="form-check-input mx-2" type="checkbox" name="choice_step" id="choice_step_7" value="choice_step_7">
              <label class="form-check-label ml-4" for="choice_step_7">
                Outdoor games
              </label>
            </div>
            <div class="checkbox">
              <input class="form-check-input mx-2" type="checkbox" name="choice_step" id="choice_step_8" value="choice_step_8">
              <label class="form-check-label ml-4" for="choice_step_8">
                Petanque
              </label>
            </div>
            <div class="checkbox">
              <input class="form-check-input mx-2" type="checkbox" name="choice_step" id="choice_step_9" value="choice_step_9">
              <label class="form-check-label ml-4" for="choice_step_9">
                Sports area
              </label>
            </div>
            <div class="checkbox">
              <input class="form-check-input mx-2" type="checkbox" name="choice_step" id="choice_step_10" value="choice_step_10">
              <label class="form-check-label ml-4" for="choice_step_10">
                Accessible water point
              </label>
            </div>
          </div>
        </div>
        <div class="card-footer bg-transparent">
          <button type="button" class="btn btn-primary float-left" (click)="back(checked.checked3)">Retour</button>
          <button type="button" class="btn btn-primary float-right" (click)="validate(checked.checked4)">Suivant</button>
        </div>
      </div>
    </div>

    <div [hidden]="!validations.check4" class="card">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="68"
             aria-valuemin="0" aria-valuemax="100" style="width:68%">
          <span class="sr-only">68% Complete</span>
        </div>
      </div>
      <div class="card-body">
        <h6 class="puce">Où est situé votre "variable du bien" ?</h6>
        <div class="form-group col-md-6">
          <div class="form-group">
            <button class="btn btn-green" type="button"><b><i class="fas fa-map-marker-alt"></i> Use current location</b></button>
          </div>
        </div>
        <h6 class="puce">Remplissez vos coordonnées ?</h6>
        <div class="form-group col-md-6">
          <label>
            Country / Region
          </label>
          <input class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label>
            Adresse postale
          </label>
          <input class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label>
            Appartement, bâtiment (facultatif)
          </label>
          <input class="form-control">
        </div>
        <div class="form-group col-md-6 d-flex justify-content-between">
          <label>
            Code postal
          </label>
          <input class="form-control col-md-3">
          <label>
            Ville
          </label>
          <input class="form-control col-md-3">
        </div>
        <div class="card-footer bg-transparent">
          <button type="button" class="btn btn-primary float-left" (click)="back(checked.checked4)">Retour</button>
          <button type="button" class="btn btn-primary float-right" (click)="validate(checked.checked5)">Suivant</button>
        </div>
      </div>
    </div>

    <div [hidden]="!validations.check5" class="card">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="85"
             aria-valuemin="0" aria-valuemax="100" style="width:85%">
          <span class="sr-only">85% Complete</span>
        </div>
      </div>
      <div class="card-body">
        <h6 class="puce">Un accès handicapé est-il prévu sur place ?</h6>
        <div class="form-group">
          <div class="form-check radio">
            <div class="radio">
              <input class="form-check-input mx-2" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
              <label class="form-check-label ml-4" for="exampleRadios1">
                Oui
              </label>
            </div>
            <div class="radio">
              <input class="form-check-input mx-2" type="radio" name="exampleRadios" id="exampleRadios" value="option2">
              <label class="form-check-label ml-4" for="exampleRadios">
                Non
              </label>
            </div>
          </div>
        </div>
        <div class="card-footer bg-transparent">
          <button type="button" class="btn btn-primary float-left" (click)="back(checked.checked5)">Retour</button>
          <button type="button" class="btn btn-primary float-right" (click)="validate(checked.checked6)">Suivant</button>
        </div>
      </div>
    </div>

    <div [hidden]="!validations.check6" class="card">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="100"
             aria-valuemin="0" aria-valuemax="100" style="width:100%">
          <span class="sr-only">100% Complete</span>
        </div>
      </div>
      <div class="card-body">
        <h5>Etape 1 : Récapitulatif des donnes saisies. Passage à ETAPE 2</h5>
        <button type="button" class="btn btn-primary float-right">SUIVANT</button>
      </div>
    </div>
  </form>
  <!--              <input type="button" class="btn btn-outline-primary connected" value="ajouter le produit" (click)="productService.createProduct(type.value, city.value, dpts.value, name.value, description.value, size.value, price.value)">-->

</div>
