<div class="d-flex justify-content-center py-5 px-1">
    <div class="card p-3">
      <h3 class="text-center txt-green pb-3">Cree un produit</h3>
        <div class="form-group">
          <form>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Jardin" #type required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="ville" #city required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="departement" #dpts required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Nom du jardin" #name required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="description" #description required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="taille" #size required>
                <p>m²</p>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="prix" #price required>
              </div>
            </div>
            <div class="form-group">
              <input type="button" class="btn btn-outline-primary connected" value="ajouter le produit" (click)="productService.createProduct(type.value, city.value, dpts.value, name.value, description.value, size.value, price.value)">
            </div>
      </form>
    </div>
    </div>
</div>
