<div class="card overflow-hidden card-effect my-3">
  <!-- routerLink="product/detail/{{product.id}}" -->
  <img class="card-img-top" src="../../../assets/images/bg-home.jpg" alt="Card image cap" draggable="false">
  <div class="card-body">
    <div class="d-flex justify-content-center save">
      <app-liked-product [product]="product"></app-liked-product>
    </div>
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text ellipsis">{{product.description}}</p>
      <div class="float-left">
        <app-rate-product [rate]="product.rate"></app-rate-product>
      </div>
      <div class="float-right">
        À partir de <b>{{product.price}}</b>/jour
      </div>
  </div>
</div>
