<div class="card-deck mt-4">
  <div class="card" style="border-radius: 10px 10px 10px 10px">
    <img class="card-img-top" src="../../../assets/images/bg-home.jpg" alt="Card image cap" style="border-radius: 10px 10px 0px 0px">
    <div class="card-body">
      <h5 class="card-title">Potager</h5>
      <p class="card-text">Un vaste terrain exploitable de 80m.</p>
        <div style="float: left;">
          <i class="text-warning fa fa-star"></i> 3,9
        </div>
        <div style="float: right;">
          À partir de <b>39,99€</b>/mois
        </div>
    </div>
  </div>
  <div class="card" style="border-radius: 10px 10px 10px 10px">
    <img class="card-img-top" src="../../../assets/images/bg-home.jpg" alt="Card image cap" style="border-radius: 10px 10px 0px 0px">
    <div class="card-body">
      <h5 class="card-title">Potager</h5>
      <p class="card-text">Un vaste terrain exploitable de 80m.</p>
      <div style="float: left;">
        <i class="text-warning fa fa-star"></i> 3,9
      </div>
      <div style="float: right;">
        À partir de <b>39,99€</b>/mois
      </div>
    </div>
  </div>
  <div class="card" style="border-radius: 10px 10px 10px 10px">
    <img class="card-img-top" src="../../../assets/images/bg-home.jpg" alt="Card image cap" style="border-radius: 10px 10px 0px 0px">
    <div class="card-body">
      <h5 class="card-title">Potager</h5>
      <p class="card-text">Un vaste terrain exploitable de 80m.</p>
      <div style="float: left;">
        <i class="text-warning fa fa-star"></i> 3,9
      </div>
      <div style="float: right;">
        À partir de <b>39,99€</b>/mois
      </div>
    </div>
  </div>
</div>
