
<img src="../../assets/images/layer-1.png" alt="" style="position: absolute;left: 0; z-index: -9999" draggable="false">
<img src="../../assets/images/layer-2.png" alt="layer" style="position: absolute;right: 0; top:40%;z-index: -9999" draggable="false">
<div class="container" *ngIf="user">
  <div class="row d-flex" [ngClass]="{'justify-content-between': !isMobile, 'justify-content-center':isMobile}">
    <div class="card"  [ngClass]="{'my-5':!isMobile}">
      <div class="d-flex justify-content-center mt-2">
        <img src="{{user.photoURL}}" onerror="this.src='../../assets/images/default-user.png';" class="user-icon img-profile">
        <div class="d-flex justify-content-between float-right">
          <a class="text-muted fixed-right" routerLink="/account">Edit compte</a>
        </div>
      </div>
      <div class="card-body">
       <div class="d-flex justify-content-between">
         <h6 *ngIf="user.emailVerified"><i class="fas fa-check-circle"></i> Vérifié</h6>
         <h6 *ngIf="!user.emailVerified"><i class="fas fa-times-circle"></i> Pas Vérifié</h6>
         <p>Last login January 26 2020</p>
       </div>

        <div class="mt-2">
        <h6>Information</h6>
          <p>Membre depuis 2018</p>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="pseudo">Pseudo</label>
                <span type="text" class="form-control search" id="pseudo">{{user.displayName}}</span>
              </div>
              <div class="form-group col-md-6">
                <label for="sexe">Sexe</label>
                <span type="text" class="form-control search" id="sexe">Homme</span>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="place">Lieu</label>
                <span class="form-control search"  type="text" id="place">Paris, France</span>
              </div>
              <div class="form-group col-md-6">
                <label for="langage">Langue</label>
                <span class="form-control search"  type="text" id="langage">Français</span>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card" [ngClass]="{'my-5':!isMobile, 'my-2':isMobile}">
        <div class="container ml-3 mt-3">
          <h6>Moyen de payement</h6>
        </div>
        <hr>
        <div class="container ml-3 mt-3">
          <div class="float-left">
            <i class="fab fa-cc-visa fa-2x float-left" style="color: #419bdd;"></i>
            <p class="ml-3 float-left">•••• •••• •••• 5046</p>
          </div>
          <div class="float-right">
            <i class="fas fa-ellipsis-h float-right mr-3"></i>
          </div>
        </div>
        <div class="container ml-3 mt-3">
          <div class="float-left">
            <i class="fab fa-cc-paypal fa-2x float-left" style="color: #419bdd;"></i>
            <p class="ml-3 float-left">•••• •••• •••• 5046</p>
          </div>
          <div class="float-right">
            <i class="fas fa-ellipsis-h float-right mr-3"></i>
          </div>
        </div>
        <div class="container ml-3 mt-3">
          <div class="float-left">
            <i class="fab fa-cc-visa fa-2x float-left" style="color: #419bdd;"></i>
            <p class="ml-3 float-left">•••• •••• •••• 5046</p>
          </div>
          <div class="float-right">
            <i class="fas fa-ellipsis-h float-right mr-3"></i>
          </div>
        </div>
        <div class="container ml-3 mt-3">
          <div class="float-left">
            <i class="fab fa-cc-paypal fa-2x float-left" style="color: #419bdd;"></i>
            <p class="ml-3 float-left">•••• •••• •••• 5046</p>
          </div>
          <div class="float-right">
            <i class="fas fa-ellipsis-h float-right mr-3"></i>
          </div>
        </div>
      </div>
      <div class="card" >
        <div class="container ml-3 mt-3">
          <h6>Annonce de {{user.displayName}}</h6>
        </div>
        <hr>
        <p *ngIf="userProducts.length === 0" class="pb-2 text-center">
          {{user.displayName}} n'a posté aucunes annonces.
        </p>
        <div *ngIf="userProducts.length !== 0">
          <div class="container t-3" *ngFor="let product of userProducts">
            <div class="d-flex justify-content-between cursor" routerLink="/product/detail/{{product.id}}">
              <p>
                <i *ngIf="product.type == 'lac'" class="fas fa-water"></i>
                <i *ngIf="product.type == 'piscine'" class="fas fa-swimming-pool"></i>
                <i *ngIf="product.type == 'forêt'" class="fas fa-tree"></i>
                <i *ngIf="product.type == 'jardin'" class="fas fa-leaf"></i>
                <i *ngIf="product.type == 'permaculture'" class="fab fa-envira"></i>
                {{product.type}}
              </p>
              <p><b>{{product.name}}</b></p>
              <app-rate-product [rate]="product.rate"></app-rate-product>
              <div>
                <i class="fas fa-eye"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

