
<img src="../../assets/images/layer-1.png" alt="" style="position: absolute;left: 0; z-index: -9999" draggable="false">
<img src="../../assets/images/layer-2.png" alt="layer" style="position: absolute;right: 0; top:40%" draggable="false">
<div class="container" *ngIf="authService.isLoggedIn && authService.userData as user">
  <div class="row d-flex" [ngClass]="{'justify-content-between': !isMobile, 'justify-content-center':isMobile}">
    <div class="card"  [ngClass]="{'my-5':!isMobile}">
      <div class="d-flex justify-content-center mt-2">
        <img src="../../assets/images/profile.jpg"  class="user-icon" style="width:15em;height: 15em;">
      </div>
      <div class="card-body">
       <div class="d-flex justify-content-between">
         <h6><i class="fas fa-check-circle"></i> Vérifié</h6>
         <p>Last login January 26 2020</p>
       </div>

        <div class="mt-2">
        <h6>Information</h6>
          <p>Membre depuis 2018</p>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="pseudo">Pseudo</label>
                <span type="text" class="form-control search" id="pseudo">{{user.displayName}}</span>
              </div>
              <div class="form-group col-md-6">
                <label for="sexe">Sexe</label>
                <span type="text" class="form-control search" id="sexe">Homme</span>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="place">Lieu</label>
                <span class="form-control search"  type="text" id="place">Paris, France</span>
              </div>
              <div class="form-group col-md-6">
                <label for="langage">Langue</label>
                <span class="form-control search"  type="text" id="langage">Français</span>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card" [ngClass]="{'my-5':!isMobile, 'my-2':isMobile}">
        <div class="container ml-3 mt-3">
          <h6>Moyen de payement</h6>
        </div>
        <hr>
        <div class="container ml-3 mt-3">
          <div class="float-left">
            <i class="fab fa-cc-visa fa-2x float-left" style="color: #419bdd;"></i>
            <p class="ml-3 float-left">•••• •••• •••• 5046</p>
          </div>
          <div class="float-right">
            <i class="fas fa-ellipsis-h float-right mr-3"></i>
          </div>
        </div>
        <div class="container ml-3 mt-3">
          <div class="float-left">
            <i class="fab fa-cc-paypal fa-2x float-left" style="color: #419bdd;"></i>
            <p class="ml-3 float-left">•••• •••• •••• 5046</p>
          </div>
          <div class="float-right">
            <i class="fas fa-ellipsis-h float-right mr-3"></i>
          </div>
        </div>
        <div class="container ml-3 mt-3">
          <div class="float-left">
            <i class="fab fa-cc-visa fa-2x float-left" style="color: #419bdd;"></i>
            <p class="ml-3 float-left">•••• •••• •••• 5046</p>
          </div>
          <div class="float-right">
            <i class="fas fa-ellipsis-h float-right mr-3"></i>
          </div>
        </div>
        <div class="container ml-3 mt-3">
          <div class="float-left">
            <i class="fab fa-cc-paypal fa-2x float-left" style="color: #419bdd;"></i>
            <p class="ml-3 float-left">•••• •••• •••• 5046</p>
          </div>
          <div class="float-right">
            <i class="fas fa-ellipsis-h float-right mr-3"></i>
          </div>
        </div>
      </div>
      <div class="card" >
        <div class="container ml-3 mt-3">
          <h6>Mes locations</h6>
        </div>
        <hr>
        <div class="container ml-3 mt-3">
          <div class="float-left">
            <i class="fas fa-water float-left"></i>
            <p class="ml-3 float-left"> Lac</p>
          </div>
          <div class="float-right">
            <i class="fas fa-ellipsis-h float-right mr-3"></i>
          </div>
        </div>
        <div class="container ml-3 mt-3">
          <div class="float-left">
            <i class="fas fa-swimming-pool float-left"></i>
            <p class="ml-3 float-left"> Piscine</p>
          </div>
          <div class="float-right">
            <i class="fas fa-ellipsis-h float-right mr-3"></i>
          </div>
        </div>
        <div class="container ml-3 mt-3">
          <div class="float-left">
            <i class="fas fa-tree float-left"></i>
            <p class="ml-3 float-left"> Forêt</p>
          </div>
          <div class="float-right">
            <i class="fas fa-ellipsis-h float-right mr-3"></i>
          </div>
        </div>
        <div class="container ml-3 mt-3">
          <div class="float-left">
            <i class="fas fa-leaf float-left"></i>
            <p class="ml-3 float-left"> Jardin</p>
          </div>
          <div class="float-right">
            <i class="fas fa-ellipsis-h float-right mr-3"></i>
          </div>
        </div>
    </div>
  </div>
</div>
</div>

<!--                <label for="number">Numéro de </label>-->
<!--                <input type="text" class="form-control search" id="number" value="06.07.33.69.36">-->
<!--            <h6>Password</h6>-->
<!--            <input class="form-control form-control-sm mr-3 w-75 search"-->
<!--                   name="first" type="password" placeholder="Search" aria-label="Search" value="value">-->
<!--            <a href="#" class="custom-btn">save</a>-->
