<div class="container pt-5" *ngIf="product && user">
  <div class="d-flex justify-content-between row">
    <img src="https://ak7.picdn.net/shutterstock/videos/1014027977/thumb/1.jpg" class="rounded active-img" alt="active">
    <div class="card">
      <div class="card-body">
        <h4>{{product.price * 30}}€ / month</h4>
        <h4>{{product.price}}€ / day</h4>
        <app-rate-product [rate]="product.rate"></app-rate-product>
        <hr>
        <div>
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Date de debut</label>
                <input type="date" class="form-control">
              </div>
              <div class="col-md-6">
                <label>Durée</label>
                <select class="custom-select">
                  <option selected disabled value="">Choose...</option>
                  <option>1 ans</option>
                  <option>2 ans</option>
                </select>
              </div>
            </div>
            <div class="form-group my-3">
              <button type="submit" class="btn btn-primary">Louer ce terrain</button>
            </div>
            <div>
              Ce terrain attire beaucoup l'attention.
              L'annonce a été consultée plus de 500 fois au cours de la dernière semaine.
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-2 col-7">
    <div class="d-flex justify-content-start">
      <h4>{{product.name}}</h4>
      <div class="px-5 pt-2">
        <img class="user-icon float-right" src="{{user.photoURL}}" onerror="this.src='../../assets/images/default-user.png';" alt="{{user.displayName}}">
        <p>{{user.displayName}}</p>
      </div>
    </div>
    <h6>{{product.dpts}}, {{product.city}}</h6>
    <hr>
    <h4>Information</h4>
    <p>{{product.description}}</p>
    <p>{{product.size}} m²</p>
    <p  ><b>23 km away</b></p>
    <div>
      <h4 class="py-3">Le quartier</h4>
      <img src="../../../assets/images/maps.PNG" class="rounded active-img" alt="image">
    </div>
    <hr>
    <div>
      <h4>Commantaires</h4>
    </div>
    <hr>
    <div>
      <h4>Annonces simillaires</h4>
    </div>
  </div>
</div>
