<div class="container" *ngIf="authService.isLoggedIn && authService.userData as user">
  <div class="d-flex justify-content-center my-3">
    <div>
      <img src="{{user.photoURL}}" onerror="this.src='../../assets/images/default-user.png';" class="user-icon img-profile mx-auto d-block">
      <h4>Informations personnelles</h4>
      <p class="my-3">Vous pouvez modifier vos informations personnelles et les mettre à jour en cliquant sur sauvegarder.</p>
      <p>Membre depuis 2018</p>
      <h6 *ngIf="user.emailVerified"><i class="fas fa-check-circle"></i> Compte vérifié</h6>
      <h6 *ngIf="!user.emailVerified"><i class="fas fa-times-circle"></i> Compe non Vérifié</h6>

      <div class="form-group">
        <label for="pseudo">Pseudo</label>
        <input type="text" class="form-control search" id="pseudo" value="{{user.displayName}}">
      </div>

      <div class="form-group">
        <label for="sexe">Sexe</label>
        <input type="text" class="form-control search" id="sexe" value="Non définie">
      </div>

      <div class="form-group">
        <label for="date">Data de Naissance</label>
        <input type="date" class="form-control search" id="date" value="">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control search" id="email" value="{{user.email}}">
      </div>
      <div class="form-group">
        <label for="number">Numéro de téléphone</label>
        <input type="text" class="form-control search" id="number" value="06.07.33.69.36">
      </div>
      <div class="form-group">
        <label for="address">Adresse</label>
        <input type="text" class="form-control search" id="address" value="74 rue nationale">
      </div>
      <div class="form-group">
        <label for="place">Lieu</label>
        <input class="form-control search"  type="text" id="place" value="Paris, France">
      </div>
      <div class="form-group">
        <label for="langage">Langue</label>
        <input class="form-control search"  type="text" id="langage" value="Français">
      </div>
      <div class="form-group mb-5">
        <input type="button" class="btn btn-info" value="Changer le mot de passe">
        <p style="font-size:12px">Un email va vous être envoyer afin de changer votre mot de passe.</p>
      </div>
      <div class="form-group d-flex justify-content-center">
        <input type="button" class="btn btn-primary" value="Sauvegarder">
      </div>

    </div>
  </div>
</div>


